.button{
	position: relative;
    width:100%;
    border-radius: 8px;
    background-color: #a48a93
}
.up{
	margin-top: 20px;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.head {
  background-color: #ffecec;
	margin-top: 10px;
}
.rate {
	position: absolute;
    top: 20px;
    right: 10px;
    width: 24px !important;
    height: 24px !important;
    color: 	#FF0000;
}
.myColorObj {
  color : #FF0000;
}
.passwordIcon{
   font-size:2rem !important;
   position: relative !important;
   top: 22px !important;
   margin: 0 auto !important;
}